@model WebPlanesDB.Models.Airplane

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Airplane</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nbort, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nbort)
                @Html.ValidationMessageFor(model => model.Nbort)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.type)
                @Html.ValidationMessageFor(model => model.type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlightID, "FlightID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FlightID", String.Empty)
                @Html.ValidationMessageFor(model => model.FlightID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataInspection, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataInspection)
                @Html.ValidationMessageFor(model => model.dataInspection)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.places, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.places)
                @Html.ValidationMessageFor(model => model.places)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrassaID, "TrassaID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrassaID", String.Empty)
                @Html.ValidationMessageFor(model => model.TrassaID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
