@model IEnumerable<WebPlanesDB.Models.Airplane>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Airplanes";
}

<h2>Airplane</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Airplane", FormMethod.Get))
{
    <p>
        Find by Nbort: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Flight.FlightID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trassa.TrassaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nbort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInspection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.places)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Flight.FlightID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trassa.TrassaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nbort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInspection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.places)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AirplaneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AirplaneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AirplaneID })
        </td>
    </tr>
}

</table>
