@model WebPlanesDB.Models.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.from_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.to_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distanse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distanse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
